name: CI

on:
  pull_request:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2

      - uses: mlugg/setup-zig@v2
        with:
          version: 0.14.1

      - name: Build
        run: zig build

      - name: Build WASM
        run: zig build wasm

      - name: Build NAPI
        run: |
          bun install
          zig build napi -Dnapi-include=node_modules/node-api-headers/include

      - name: Test
        run: python3 scripts/run-tests.py
