name: CI

on:
  pull_request:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2

      - uses: mlugg/setup-zig@v2
        with:
          version: 0.14.1

      - name: Install JS dependencies
        run: bun install

      - name: Build
        run: zig build

      - name: Build WASM
        run: zig build wasm

      - name: Build NAPI
        run: zig build napi -Dnapi-include=node_modules/node-api-headers/include

      # - name: Test
      #   run: bun ./scripts/run-tests.ts

      - name: Test (vitest)
        run: bun vitest run

      - name: Build Playground
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        run: bunx vite@7.3.1 build
        working-directory: packages/md4x

      - name: Upload Pages Artifact
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        uses: actions/upload-pages-artifact@v3
        with:
          path: packages/md4x/dist

  deploy:
    needs: build
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deploy.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deploy
        uses: actions/deploy-pages@v4
